<script>
	// Import the fly animation from Svelte
	import { fly } from 'svelte/transition';
  import { createEventDispatcher } from "svelte"

	// Get data from parent component. Probably from the setup page
	export let data
	export let currentLanguage = 'de'

	// Variables which are used for the functionality of this comp
	let height // Gets used to define the height of the invisible bar and also how much the items are floating up when they hide
	let scrollingDown = true
	let y = 0
	let lastY = 0

  const dispatch = createEventDispatcher()

  const setLanguage = (lang) => currentLanguage = lang

	// Make variables reactive
	$: y, updateScroll()

	$: scrollingDown

	// Function which detects the scroll direction
	function updateScroll() {
		let dy = lastY - y

		// Make sure that the content is visible when the page gets loaded
		if (y < 1) {
			scrollingDown = true
		}
		
		lastY = y

		//  Checks if scrolling up or down
		if (dy < 0) {
			scrollingDown = false
		} else {
			scrollingDown = true
		}
	}
</script>

<svelte:window bind:scrollY={y} />

<div bind:clientHeight={height} class="text-6xl py-2 hidden sm:flex fixed w-full z-50 justify-between px-4 bg-background">
    <a sveltekit:prefetch class="pr-6" href="/">
        <span class="text-green">red</span>square<span class="text-red">.</span>
    </a>

	{#if scrollingDown}
		<div class="pr-3 link-grey whitespace-nowrap cursor-pointer" transition:fly="{{ y: -height, duration: 500 }}">
			what we do.
		</div>

		<div class="pr-3 link-grey cursor-pointer hidden lg:block" transition:fly="{{ y: -height, duration: 500 }}">
			contact.
		</div>

		<div class="hidden md:flex" transition:fly="{{ y: -height, duration: 500 }}">
			<a href="/" on:click|preventDefault={() => setLanguage('de')} class="link-grey {currentLanguage == "de" ? "opacity-60" : ""}">
      de
			</a>
			/
			<a href="/" on:click|preventDefault={() => setLanguage('en')} class="link-grey {currentLanguage == "en" ? "opacity-60" : ""}">
      en
			</a>
		</div>
	{/if}
</div>

<!-- Invisible bar which hads the same height as the navigation to push the content down -->
<div style="height: {height}px" class="hidden sm:block">
	&nbsp;
</div>