<script>
  export let status = 'completed'
  export let language = 'de'

  let statusText
  let statusColor

  const options = {
    completed: {
      color: '#5dda3b',
      en: 'Completed',
      de: 'Fertig'
    },
    ongoing: {
      color: '#5dda3b',
      en: 'Ongoing',
      de: 'Laufend'
    },
    built: {
      color: '#5dda3b',
      en: 'Built',
      de: 'Realisiert'
    },
    construction: {
      color: '#ee8c42',
      en: 'Construction',
      de: 'Konstruktion'
    },
    designed: {
      color: '#ee8c42',
      en: 'Designed',
      de: 'Gestaltet'
    },
    sketched: {
      color: '#ee8c42',
      en: 'Sketched',
      de: 'Skizziert'
    }
  }

  $: statusText = options[status][language]
  $: statusColor = options[status].color
  
</script>

<span class="hidden sm:inline-block">
  {statusText}
</span>
<span class="w-4 h-4 inline-block sm:hidden" style="background-color: {statusColor}" />