<script context="module">
    // Import functions which are needed to get data from the CMS
    import Prismic from "@prismicio/client"
    import Client from '../utils/client'

    export async function load() {
        // ------------ GET DATA FOR SETUP ------------
        // Get data from setup page
		const setup = await Client.getSingle('setup')

        // ------------ GET DATA FOR HOME ------------
        // Get data from home page
        const document = await Client.getSingle('home')

        // ------------ GET DATA FOR PROJECTS ------------
        // Define the type of the post-type. For example project or product
		const type = 'project'

        // Get the content from the current page
        const projects = await Client.getSingle('projects')

        // Get all items from the post-type. For example project or product
        const allItems = await Client.query(
            Prismic.Predicates.at("document.type", type),
        )

        // Check if those items are in the list of selected projects on the current page
        // And then put them into an array
        // This allows the user to sort the items and not just show ALL the projects
        const sortedItems = projects.data.project_order.map(i => {
            const uid = i.selected.uid
            return allItems.results.find(p => p.uid === uid)
        })

        // From the sorted items list, find the projects which have the 'Normal' view and put them into an array
        // A project can also have a different view set up. For example 'Related'
        // And then it would not work in some loops, because some important fields would be empty
        const sortedItemsNormal = []
        
        sortedItems.map(i => {
            if(i.data.view == 'Normal' || i.data.view == null) {
                sortedItemsNormal.push(i)
            }
        })

        // ------------ GET DATA FOR PAGES ------------
        // Get the content from the current page
        const pages = await Client.getSingle('pages')

        // Get all items from the post-type. For example project or product
        const allPageItems = await Client.query(
            Prismic.Predicates.at("document.type", 'page'),
        )

        // Check if those items are in the list of selected projects on the current page
        // And then put them into an array
        // This allows the user to sort the items and not just show ALL the projects
        const sortedPageItems = pages.data.page_order.map(i => {
            const uid = i.selected.uid
            return allPageItems.results.find(p => p.uid === uid)
        })

        // Return the data which we got above
        return {
            props: {
                document,
				        setup,
                sortedItems,
                type,
                sortedPageItems,
                sortedItemsNormal
            }
        }
    }
</script>

<script>
    // Import all components which will be used on this page
	  import Seo from '$lib/functionality/seo/seo.svelte'
    import NavigationDesktopContentScroll from '$lib/modules-static/navigations/navigation-desktop-content-scroll/navigation-desktop-content-scroll.svelte'
    import SliderMarquee from '$lib/modules-flex/sliders/slider-marquee/slider-marquee.svelte'
    import VideoSimple from '$lib/modules-flex/videos/video-simple/video-simple.svelte'
    import ParagraphRichtextSmall from '$lib/modules-flex/paragraphs/paragraph-richtext-small/paragraph-richtext-small.svelte'
    import HeadlineSimple from '$lib/modules-flex/headlines/headline-simple/headline-simple.svelte'
    import TypoGridLoop from '$lib/modules-static/repeater/loops/typo-grid/typo-grid.svelte'
    import AccordeonComplex from '$lib/modules-static/repeater/loops/accordeon-complex/accordeon-complex.svelte'
	  import ParagraphRichtextBig from "$lib/modules-flex/paragraphs/paragraph-richtext-big/paragraph-richtext-big.svelte"
    import Overlay from "$lib/modules-static/repeater/loops/overlay/overlay.svelte"
    import SliderComplex from "$lib/modules-flex/sliders/slider-complex/slider-complex.svelte"
    import Contact from "$lib/modules-custom/contact/contact.svelte"

    // Get the data from above
    export let document
	  export let setup
    export let sortedItems
    export let type
    export let sortedPageItems
    export let sortedItemsNormal
    let currentLanguage = 'de'
</script>

<Seo
  setup={setup.data}
  document={document.data}
/>
<NavigationDesktopContentScroll
  data={setup.data}
  bind:currentLanguage={currentLanguage}
/>
<SliderMarquee
  inputText={document.data.banner[0].text}
  inputDirection="ltr"
/>
<VideoSimple
  inputVideoUrl={document.data.video_link[0].text}
  inputVideoPoster={document.data.video_poster.Big.url}
/>
<ParagraphRichtextSmall
  inputLongText={document.data.video_caption}
/>
<HeadlineSimple
  extraText="↦"
  inputText={document.data.latest_projects_title[0].text}
  classes="sticky z-1 top-navigation"
/>
<TypoGridLoop
  items={sortedItems}
/>
<AccordeonComplex
  items={sortedItemsNormal}
  type={type}
  classes="sticky top-navigation z-2"
/>
<HeadlineSimple
  inputText={document.data.paragraph_title[0].text}
  classes="sticky z-6 top-navigation"
/>
<ParagraphRichtextBig
  inputLongText={document.data.paragraph_content}
  classes="z-3 relative bg-white"
/>
<Overlay
  items={sortedPageItems}
  classes="z-4 relative bg-white"
/>
<SliderComplex
  inputLoop={document.data.slider}
  height="h-50vw sm:h-60vw"
  classes="z-5 relative bg-white"
/>
<HeadlineSimple
  inputText={document.data.clients_title[0].text}
  classes="z-8 sticky top-navigation"
/>
<ParagraphRichtextBig
  inputLongText={document.data.clients_content}
  classes="z-7 relative bg-white"
/>
<HeadlineSimple
  inputText={document.data.contact_title[0].text}
  classes="z-10 sticky top-navigation"
/>
<Contact
  document={document.data}
  classes="z-9 relative"
/>