<script>
	// Get data from parent component. Probably from the setup page
	export let data
</script>

<div class="hidden sm:flex w-full justify-between py-3 px-4 bg-background">
    <a sveltekit:prefetch class="text-lg link-grey" href="/">
        {data.website_title[0].text}
    </a>

    <div>
		{#each data.navigation_bottom as navItem}
			<a sveltekit:prefetch class="ml-4 text-lg link-grey" href="/{navItem.uid1[0].text}">
				{navItem.title[0].text}
			</a>
		{/each}
	</div>
</div>