<script>
	// Import components which are used
	import Text from '$lib/modules-basic/text.svelte'
	
	// Get data from Slice function
	export let slice

	// Get data from parent component
  export let inputText // Input the string and not the array
	export let extraText

  export let classes = ''

	// Define variables which get used in this component
	let text

	// Check if Slices function is used, otherwise use the data from parent component
	if (slice == undefined){
		// Use data from the parent comp
		text = inputText
	} else {
		// Use data from the slices module
		text = slice.primary.text[0].text
	}
</script>

<div class="bg-green text-white flex select-none {classes}">
	<!-- Display text basic comp -->
	<div class="pl-4 py-2 text-6xl -mt-1">
		{extraText ? extraText : ''}
	</div>
	<Text text={text} hasRichtext={false} classes={'pr-4 py-2 text-6xl'} classesRichtext={''}/>
</div>