<script>
	// Import transition functin from Svelte
	import { slide } from "svelte/transition";
  import { browser } from "$app/env"
  import { page } from "$app/stores"
  import { goto } from "$app/navigation"
	// Import child components which are used in this slider
  import SaveToClipboard from '$lib/functionality/safe-to-clipboard/safe-to-clipboard.svelte'
  import SliderComplex from '$lib/modules-flex/sliders/slider-complex/slider-complex.svelte'
  import Status from "$lib/modules-custom/text-elements/status.svelte"

	// Get data from parent component
  export let item

	// Variables for binding
	export let internalStatus
	export let uid

	// Calls the functions which shortens the title if needed
	let titleShort

	// Make those variables reactive
	$: internalStatus
	$: uid
	$: titleShort = truncateString(item.data.title[0].text, 35);

	// Toggle function which gets called on click on headline
	function toggle() {
		if (internalStatus == true) {
			// Close the accordeon
			internalStatus = false

      console.log(uid, $page.url.hash)

			// Set uid to null because this will tell the parent comp to not do anything
      if ($page.url.hash.includes(uid)) {
        console.log('remove hash')
        goto('/', { replaceState: true, noscroll: true })
      }
			uid = ""
		} else {
			// Open the accordeon
			internalStatus = true

			// Set the uid to the current open accordeon, becaus it will tell the parent comp
			// that this accordeon is open now. This is used in the parent comp to close all the
			// other accordeons
			uid = item.uid
		}
	}

	// Function which shortens the title
	function truncateString(str, num) {
		// If the length of str is less than or equal to num
		// just return str--don't truncate it.
		if (str.length <= num) {
			return str
		}
		// Return str truncated with '...' concatenated to the end of str.
		return str.slice(0, num) + '...'
	}
</script>

{#if item}
	<div transition:slide={{ duration: 300 }} class="select-none header-box {internalStatus == true ? "border-t-6 border-b-6 border-red bg-neutral-100"  : "border-t-0 border-b-0"}">
		<!-- Header -->
		<div on:click={toggle} id={item.uid} class="{item.uid} w-full flex cursor-pointer text-3xl px-8 {internalStatus == true ? ""  : "link-grey"}">
			{#if internalStatus == false || internalStatus == undefined}
				<div class="w-1/2 lg:w-1/12 text-ellipsis overflow-hidden whitespace-nowrap">
					{item.data.year[0].text}
				</div>
				
				<div class="w-1/2 lg:w-3/12 text-ellipsis overflow-hidden whitespace-nowrap">
					{titleShort}
				</div>

				<div class="w-1/2 lg:w-2/12 text-ellipsis overflow-hidden whitespace-nowrap">
					{item.data.city[0].text}
				</div>

				<div class="w-1/2 lg:w-2/12 text-ellipsis overflow-hidden whitespace-nowrap">
					{item.data.typ[0].text}
				</div>

				<div class="w-1/2 lg:w-2/12 text-ellipsis overflow-hidden whitespace-nowrap">
          <Status status={item.data.status_select} />
				</div>

				<div class="w-1/2 lg:w-2/12 text-right text-ellipsis overflow-hidden whitespace-nowrap">
					{item.data.sqm[0].text}m<sup>2</sup>
				</div>
			{:else}
				<div class="w-1/12 lg:w-1/12 text-ellipsis overflow-hidden whitespace-nowrap">
					{item.data.year[0].text}
				</div>

				<div class="w-10/12 text-ellipsis overflow-hidden whitespace-nowrap">
					{item.data.title[0].text}
				</div>

				<div class="pr-2 flex lg:w-1/12 justify-end">
					<div class="justify-center flex-col flex">
						<svg id="Ebene_1" class="h-5" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
							<defs><style>.cls-1{fill:none;stroke:black;stroke-miterlimit:10;stroke-width:2px;}</style></defs><line class="cls-1" x1="1.91" y1="1.91" x2="23.09" y2="23.09"/><line class="cls-1" x1="1.91" y1="23.09" x2="23.09" y2="1.91"/>
						</svg>
					</div>
				</div>
			{/if}
		</div>

		<!-- Content -->
		{#if internalStatus == true}
			<div class="text-xl flex flex-col-reverse sm:flex-row w-full pl-8 pr-6" transition:slide={{ duration: 300 }}>
				<!-- Left Side -->
				<div class="w-1/2 lg:w-1/12">
				</div>

				<div class="sm:w-5/12 pt-4 sm:pt-0">
					<div class="pt-2 pb-2 text-3xl text-red">
						{item.data.slogan[0].text}
					</div>

					<div class="sm:symbol-before circle">
						{item.data.typ[0].text} in {item.data.city[0].text}
					</div>

					<div class="sm:symbol-before circle">
            <Status status={item.data.status_select} />
					</div>

					<div class="sm:symbol-before circle">
						{item.data.work[0].text}
					</div>

					{#if item.data.additional_infos_1[0]}
						<div class="sm:symbol-before circle">
							{item.data.additional_infos_1[0].text}
						</div>
					{/if}

					{#if item.data.additional_infos_2[0]}
						<div class="sm:symbol-before circle">
							{item.data.additional_infos_2[0].text}
						</div>
					{/if}

					<a class="sm:symbol-before arrow link-grey" target="_blank" href="http://www.google.com/maps/place/{item.data.coordinates.latitude},{item.data.coordinates.longitude}">
						Find on Google Maps
          </a>

					<div>
            {#if browser}
              <SaveToClipboard classes="sm:symbol-before arrow link-grey" buttonText="Share" copyText={window.location} />
            {/if}
					</div>

					<div class="sm:symbol-before square">
						Request Floorplans, detail views
					</div>
				</div>

				<!-- Right Side -->
				<div class="sm:w-6/12">
					{#if item.data.slider[0]}
						<SliderComplex inputLoop={item.data.slider} height="h-50vw sm:h-30vw" classes="" />
					{/if}
				</div>
			</div>
		{/if}
	</div>
{/if}

<style lang="postcss">
	.header-box {
		transition: border 0.2s;
    }
</style>