<script>
    // Get data from parent component
    export let items
    export let itemsSearched
    export let classes = ''

    // Declare variable which gets used for the binding in the input field
    let searchTerm

    // Variable to show or hide reset button
    let resetVisible = false

    // Set up an empty array to fill it later with the results of the search
    const result = []

    // Whenever the value in the input field changes, the function search gets called
    $: searchTerm, search(searchTerm)
    
    // Items searched is the final result which gets passed to the parent comp
    // It is reactive now
    $: itemsSearched

    // Search function
    function search(searchTerm) {
        // Reset the array of results
        const result = []

        if (searchTerm) { searchTerm = searchTerm.toLowerCase() }
        
        // Filter the item fields which get passed in from the parent comp by what is searched
        // And then push the found item in the new array
        items.filter((item) => {
            return (
                item.uid.toLowerCase().includes(searchTerm) ||    
                item.data.year[0].text.toLowerCase().includes(searchTerm) ||
                item.data.title[0].text.toLowerCase().includes(searchTerm) ||
                item.data.slogan[0].text.toLowerCase().includes(searchTerm) ||
                item.data.city[0].text.toLowerCase().includes(searchTerm) ||
                item.data.typ[0].text.toLowerCase().includes(searchTerm) ||
                item.data.status[0].text.toLowerCase().includes(searchTerm) ||
                item.data.sqm[0].text.toLowerCase().includes(searchTerm) ||
                item.data.work[0].text.toLowerCase().includes(searchTerm)              )
            }).forEach((e) => {

            // Show reset button
            resetVisible = true

            // Hide reset button when nothing is searched
            if(searchTerm == '') {
                resetVisible = false
            }

            result.push(e)
        })

        
        // fill the final variable with the results
        itemsSearched = result
        
        // Calls the funcitons which closes all accordeons
        closeAllAccordeons() 
        
        // Return the final result
        return itemsSearched
    }

    // Closes all accordeons
    function closeAllAccordeons() {
		  itemsSearched.map(item => {
			  item.status = false
    })
	}

    // Reset will just set the searched items back to the original item list
    function reset() {
        itemsSearched = items
        searchTerm = ""

        // Calls the funcitons which closes all accordeons
        closeAllAccordeons() 
    } 
</script>

<div class="flex w-full text-6xl px-4 justify-between bg-green text-white select-none {classes}">
    <!-- Headline -->
    <div class="flex py-2 whitespace-nowrap">
        <div class="-mt-1">
            ↦
        </div>

        <div class="">
            project list.
        </div>
    </div>

    <div class="flex">
        <!-- Search field -->
        <input autocomplete="off" class="py-0 text-right pr-2 bg-green" placeholder="Search" bind:value={searchTerm} />
    
        <!-- Reset button -->
        {#if resetVisible == true}
           <input type="button" on:click={reset} class="py-0 cursor-pointer" value="Reset" />
        {/if}
    </div>
</div>

<style lang="postcss">
    input {
        @apply text-white font-bold;
    }

	  input:focus { 
        outline:none;
    }

    input::placeholder {
        @apply text-white font-bold;
    }
</style>