<script>
	// Get data from parent component
    export let items
    export let itemsSorted

	// Array of the Sort fields on which the user can click on+
	// More can be added if needed
	let sortItems = [
		{
			"sort": "data.year.0.text",
			"label": "Year",
			"status": "false",
			"css": "w-1/2 lg:w-1/12 link-grey"
		},
		{
			"sort": "uid",
			"label": "Title",
			"status": "false",
			"css": "w-1/2 lg:w-3/12 link-grey"
		},
		{
			"sort": "data.city.0.text",
			"label": "City",
			"status": "false",
			"css": "w-1/2 lg:w-2/12 link-grey"
		},
		{
			"sort": "data.typ.0.text",
			"label": "Typ",
			"status": "false",
			"css": "hidden lg:flex w-2/12 link-grey"
		},
		{
			"sort": "data.status.0.text",
			"label": "Status",
			"status": "false",
			"css": "hidden lg:flex w-2/12 link-grey"
		},
		{
			"sort": "data.sqm.0.text",
			"label": "Sqm",
			"status": "false",
			"css": "hidden lg:flex w-2/12 link-grey justify-end"
		}
	]

	// The main function which gets called on click on sort button
	function sort(index, sort, label, status, css) {
		closeAllAccordeons() 
		addSortStatus(index, sort, label, status, css)
		itemsSorted = sortMe(sort, items, status)
	}

    // Function to add AccordeonStatus to the items array
	function closeAllAccordeons() {
		items.map(item => {
			item.status = false
    })
	}

    // Function to add SortStatus to the Sort Array
	function addSortStatus(index, sort, label, status, css) {
		if(status == 'false') {
			sortItems[index] = {sort: sort, label: label, status: 'true', css: css }
		} else {
			sortItems[index] = {sort: sort, label: label, status: 'false', css: css }
		}
	}

    // Sort function
	function sortMe(prop, arr, direction) {
		prop = prop.split('.')
		var len = prop.length

		arr.sort(function (a, b) {
			var i = 0

			while( i < len ) {
				a = a[prop[i]]
				b = b[prop[i]]
				i++
			}

			if (direction == 'true') {
				if (a < b) {
					return -1
				} else if (a > b) {
					return 1
				} else {
					return 0
				}
			} else {
				if (a > b) {
					return -1
				} else if (a < b) {
					return 1
				} else {
					return 0
				}
			}

		})

		return arr
	}
</script>

<div class="flex w-full text-xl pt-2 pb-1 px-8 uppercase">
    {#each sortItems as sortItem, index}
        <div class="cursor-pointer flex {sortItem.css}" on:click={e => sort(index, sortItem.sort, sortItem.label, sortItem.status, sortItem.css)}>
			<!-- Indicator if the items are sorted up or down -->
            <div class="">
                {#if sortItem.status == 'false'}
					<div class="triangle-up"></div>
					<div class="triangle-down-active mt-1"></div>
                {:else}
					<div class="triangle-up-active"></div>
					<div class="triangle-down mt-1"></div>
                {/if}
            </div>
        </div>
    {/each}
</div>


<style lang="postcss">
	.triangle-up {
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid rgb(209, 209, 209);
		border-top: 10px solid transparent;
    }

	.triangle-down {
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-top: 10px solid rgb(209, 209, 209);
    }

	.triangle-up-active {
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid rgb(0, 255, 0);
		border-top: 10px solid transparent;
    }

	.triangle-down-active {
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-top: 10px solid rgb(0, 255, 0);
    }
</style>