<script>
	// Import components which are used
	import Text from '$lib/modules-basic/text.svelte'
	
	// Get data from Slice function
	export let slice

	// Get data from parent component
    export let inputLongText

	// Define variables which get used in this component
	let longText

	// Check if Slices function is used, otherwise use the data from parent component
	if (slice == undefined){
		// Use data from the parent comp
		longText = inputLongText
	} else {
		// Use data from the slices module
		longText = slice.primary.long_text
	}
</script>

<div class="pb-4">
	<!-- Display text basic comp -->
	<Text text={longText} hasRichtext={true} classes={''} classesRichtext={'px-8 pt-0 pb-6 text-xl'}/>
</div>