<script>
  export let classes = ''
  export let text = ''
  import { createEventDispatcher } from "svelte"
  const dispatch = createEventDispatcher()

</script>

<div class="fixed z-100 inset-0 flex justify-center items-center" on:click={() => dispatch('close')}>
  <div class="{classes}">
    {text}
  </div>
</div>