<script>
    // Import safe to clipboard function
    import CopyToClipboard from "svelte-copy-to-clipboard"
    import CenteredMessage from "$lib/modules-custom/modals/centered-message.svelte"

    // Import from parent
    export let copyText // Text which gets copied. For example an email
    export let buttonText // Text of the button
    export let classes = ''
    let showModal = false
    let modalText = ''

    function handleFailedCopy() {
        showModal = true
        modalText = 'Not saved to Clipboard!'

        // Jump back after 3 seconds to show old text again
        setTimeout(() => {
            buttonText = copyText
        }, 3000);
    }

    function handleSuccessfullyCopied() {
        showModal = true
        modalText = 'Copied to Clipboard!'

        // Close after 3 secs
        setTimeout(() => {
            showModal = false
        }, 3000);
    }

    function handleClose () {
      showModal = false
    }
</script>

<CopyToClipboard text={copyText} on:copy={e => handleSuccessfullyCopied()} on:fail={e => handleFailedCopy()} let:copy>
    <button on:click={copy} class={classes}>
        {buttonText}
    </button>
</CopyToClipboard>

{#if showModal}
  <CenteredMessage classes="bg-silver text-3xl px-8 py-4" text={modalText} on:close={handleClose} />
{/if}