<script>
    // Import child components which are used in this module
    import OverlayItem from '$lib/modules-static/repeater/loops/overlay/overlay-item.svelte'

    // Get data from parent component
    export let items
    export let classes = ""
</script>

<div class="divide-y-4 divide-green pb-8 {classes}">
    {#each items as item}
        <OverlayItem item={item} />
    {/each}
</div>