@import url('./utilityClasses.postcss');

@font-face {
    font-family: 'SuisseIntl-Bold';
    src: url('/fonts/SuisseIntl-Bold.woff2') format('woff2'),
        url('/fonts/SuisseIntl-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SuisseIntl-BoldItalic';
    src: url('/fonts/SuisseIntl-BoldItalic.woff2') format('woff2'),
        url('/fonts/SuisseIntl-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SuisseIntl-Italic';
    src: url('/fonts/SuisseIntl-Italic.woff2') format('woff2'),
        url('/fonts/SuisseIntl-Italic.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SuisseIntl';
    src: url('/fonts/SuisseIntl.woff2') format('woff2'),
        url('/fonts/SuisseIntl.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .symbol-before::before {
    @apply w-4 h-4 mr-2 inline-block;
  }

  .symbol-before.circle::before {
    content: '';
    border-radius: 100%;
    background-color: black;
  }

  .symbol-before.square::before {
    content: '';
    border-radius: 0;
    background-color: black;
  }
  .symbol-before.arrow::before {
    content: '→';
    border-radius: 0;
  }
}

@layer base {
	html {
		font-family: 'SuisseIntl-Bold', 'Arial', 'sans-serif';
		font-weight: bold;
	}

    .link-grey {
        @apply cursor-pointer transition-opacity hover:opacity-60;
    }

	h1 {
		@apply text-5xl;
	}

	h2 {
		@apply text-4xl;
	}

	h3 {
		@apply text-3xl;
	}

	h4 {
		@apply text-2xl;
	}

	h5 {
		@apply text-xl;
		@apply uppercase;
	}

	h6 {
		@apply text-xl;
		@apply font-bold;
	}

	p {
		@apply pt-2;
	}

	ul li {
		@apply list-disc;
	}

	ol li {
		@apply list-decimal;
	}

	p a {
		@apply underline decoration-1 underline-offset-4 link-grey;
	}
}
