<script>
    // Import child components which are used in this module
    import TypoGridItem from '$lib/modules-static/repeater/loops/typo-grid/typo-grid-item.svelte'

    // Get data from parent component
    export let items
	export let type
</script>

<div class="flex flex-wrap">
    {#each items as item}
        <TypoGridItem item={item} type={type} />
    {/each}
</div>