<script>
	// Get data from parent component
    export let item
	export let type
</script>

<a sveltekit:prefetch class="w-full sm:w-1/2 md:w-1/3 px-8 py-8 hover:text-red item" href="#{item.uid}">
	<div class="h-5 w-full bg-black mb-4 bar">
	</div>
	
	<div class="text-6xl sm:text-4xl lg:text-6xl">
		{item.data.slogan[0].text}
	</div>

	<div class="text-2xl">
		{item.data.title[0].text}
	</div>
</a>


<style lang="postcss">
	.item:hover .bar {
		@apply bg-red;
	}
</style>